################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/EasyScheduler/v16
/EasyScheduler/obj
/EasyScheduler/bin
/EasyScheduler.SqlServer/bin
/EasyScheduler.SqlServer/obj
/EasySchedulerFramework.Sample/bin
/EasySchedulerFramework.Sample/obj
/EasySchedulerNetCore.Sample/bin
/EasySchedulerNetCore.Sample/obj
/packages

/EasyScheduler.InMemory/obj
/EasyScheduler.MySql/obj
/EasyScheduler.Redis/obj
/EasyScheduler.InMemory/bin
/EasyScheduler.MySql/bin
/EasyScheduler.Redis/bin
/EasyScheduler.RabbitMQ/bin
/EasyScheduler.RabbitMQ/obj
