################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/EasyScheduler/v16
/EasyScheduler/obj
/EasyScheduler/bin
/EasyScheduler.SqlServer/bin
/EasyScheduler.SqlServer/obj
/EasySchedulerFramework.Sample/bin
/EasySchedulerFramework.Sample/obj
/EasySchedulerNetCore.Sample/bin
/EasySchedulerNetCore.Sample/obj
/packages

